@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  /*---COLORS---*/
  --background-color: #282c35;
  --color-text: #ECF0F1;
  --color-primary: #C8F4AF;
  --color-secondary: #6E6E6E;

  /*! Typography - Size */
  --font-size-h1: 32px;
  --font-size-h2: 28px;
  --font-size-h3: 26px;
  --font-size-h4: 22px;
  --font-size-h5: 20px;
  --font-size-h6: 18px;
  --font-size-display: 36px;
  --font-size-base: 16px;
  --font-size-s: 14px;
  --font-size-xs: 12px;
  --font-size-label: 11px;

  /*! Space - Sizes */
  --space-none: 0;
  --space-xs: 4px;
  --space-s: 8px;
  --space-base: 16px;
  --space-m: 24px;
  --space-l: 32px;
  --space-xl: 40px;
  --space-xxl: 48px;

  /*! Border Radius */
  --border-radius-none: 0;
  --border-radius-soft: 4px;
  --border-radius-rounded: 100px;
  --border-radius-circle: 100%;
}

/* Custom Reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.google-login-button {
  background-color: #4285f4;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
}

.google-login-button:hover {
  background-color: #357ae8;
}

/* Container for App */
.app-container {
  height: 100vh; /* Full height to match the viewport */
}


/* Main content styling */
.main-content {
  flex: 1;
  padding: var(--space-m);
  overflow-y: auto; /* Add scrolling for long content */
}

.main-content h1 {
  color: white;
}